*{
    margin: 0;
    padding: 0;
}

.hero{
    height: 100%;
    width: 100%;
    background-image: 
    url(jensen.png)
    linear-gradient(rgba(211, 5, 5, 0.4), rgba(0,0,0,0.4));
    
background-position: center;
background-size: cover;
position: absolute;
}

.form-box{
width: 380px;
height: 480px;
position: relative;
margin: 6% auto;
background: #0a80f5;
padding: 5px;

}

.button-box{
    width: 220px;
    margin: auto;
    position: relative;
    box-shadow: 0 0 20px 9px #0000001f;
    border-radius: 30px;
}